{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}


{% block main %}


<style>
    .error {
        color: #d32f2f;
        font-size: 14px;
        font-weight: 500;
        margin-top: 4px;
        padding: 4px 8px;
        background-color: #ffebee;
        border: 1px solid #ffcdd2;
        border-radius: 4px;
        display: inline-block;
    }
    
    form div {
        margin-bottom: 15px;
    }
    
    input:invalid {
        border-color: #d32f2f;
    }
    </style>


    <h1>Формы, cookie</h1>
    <div>
        Привет, <span style="color: {{name_color}}">{{ name }}</span>!
        <p>Возраст: {{ age }}</p>
    </div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/del_cookie">Очистка Куки</a></li>
        <li><a href="/lab3/form1">Форма</a></li>
        <li><a href="/lab3/order">Заказ</a></li>
        <li><a href="/lab3/settings">Цвет текста</a></li>
        <li><a href="/lab3/ticket_result">Железнодорожный билет</a></li>
    </ol>

    <div>
        <a href="/">На главную</a>
    </div>
{% endblock %}