<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа {{ lab_number }}</title>
</head>
<body>
    <header>
        <h1>НГТУ, ФБ, Лабораторная работа {{ lab_number }}</h1>
    </header>

    <main>
        <h2>Лабораторная работа №{{ lab_number }}</h2>
    </main>

    <footer>
        <p>Студент: Нейверт Арина Сергеевна</p>
        <p>Группа: {{ group }}</p>
        <p>Курс: {{ course }}</p>
        <p>Лабораторная работа: №{{ lab_number }}</p>
        <p>2025 год</p>
    </footer>
</body>
</html>