<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Лабораторная 2</title>
</head>
<body>
    <h1>Лабораторная работа 2</h1>
    <ul>
        <li><a href="/lab2/all_flowers">Список всех цветов</a></li>
        <li><a href="/lab2/example">Example</a></li>
        <li><a href="/lab2/calc/">Калькулятор (по умолчанию 1/1)</a></li>
        <li><a href="/lab2/calc/5">Калькулятор с одним параметром (5/1)</a></li>
        <li><a href="/lab2/calc/3/4">Калькулятор с двумя параметрами (3/4)</a></li>
        <li><a href="/lab2/calc/10/2">Калькулятор с двумя параметрами (10/2)</a></li>
        <li><a href="/lab2/filters">Фильтры</a></li>
        <li><a href="/lab2/books">Список книг</a></li>
        <li><a href="/lab2/cats">Коллекция кошек</a></li>
    </ul>
    
    <div>
        <a href="/">На главную</a>
    </div>
</body>
</html>